<passwordPolicy>
  <id>545c742b:17918a8a8e1:-7ff6</id>
  <name>master</name>
  <className>org.geoserver.security.validation.PasswordValidatorImpl</className>
  <uppercaseRequired>false</uppercaseRequired>
  <lowercaseRequired>false</lowercaseRequired>
  <digitRequired>false</digitRequired>
  <minLength>8</minLength>
  <maxLength>-1</maxLength>
</passwordPolicy>